

.infinite-footer {
	display: none;
	opacity:0;
}

#header {
	background-color: #333;
	.branding {
		background: rgba(51, 51, 51, 0.8);
		padding: 10px;
		border-radius: 3px;
	}
	.menu-button {
		margin: 17px 10px 0;
	}
}

.sidr {
	.sub-menu { 
		li {
			a {
				color: #D7D7D7;
			}
		}
	}
	.nav-menu {
		li {
			a {
				color: #FFFFFF;
			}
		}
	}
}

@media screen and (min-width: 1180px) {
	.social-icon {
		float: right;
	}
}

